.btn_header {
    padding: 8px 18px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box !important;
}

.btn_login {
    @extend .btn_header;

    span {
        color: #000;
    }

    &:hover {
        border: 1px dashed var(--primary-color);
        padding: 7px 17px;

        span {
            color: var(--primary-color);
        }
    }
}

.btn_register {
    padding: 8px 18px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box !important;
    background-color: var(--primary-color);
    z-index: 3;
    position: relative;

    &:hover {
        background-color: var(--primary-color);
    }

    span {
        color: #fff;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--active-color);
        z-index: -1;
        transition: width 0.5s ease;
    }

    &:hover::after {
        width: 100%;
    }

}

.btn_register_mobile {
    @extend .btn_register;
    padding: 4px 10px;
    display: none;
}

.btn-upgrade {

    display: block;

    .btn-upgrade-link {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 8px 24px;
        position: relative;
        z-index: 5;
        background: linear-gradient(77deg, #7c0fd1 17.91%, #d61ef4 90.76%);
        border-radius: .8rem;
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;

        .star {
            background-image: url('/assets/images/btn-upgrade-star.png');
            animation: buttonUpAni 10s linear infinite;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
        }
    }
}


.btn_profile {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn_profile_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .btn_profile_avatar {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        overflow: hidden;
    }
}

@media screen and (max-width: 1300px) {

    .btn_login,
    .btn_register {
        display: none;
    }

    .btn_register_mobile {
        display: block;
    }
}